
name: Create release

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Zip Folder
      run: zip -r ${{ github.event.repository.name }}.zip
